body{
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box{
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    background-color: #4caf50;
    border:none;
    color: white;
    margin: 8px 0px;
    border-radius: 4px;
    cursor: pointer;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}